pkgbase = linux-zen-g14
	pkgdesc = Linux ZEN with patches for Zephyrus G14
	pkgver = 5.14.1.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel/commits/v5.14.1-zen1
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = git
	options = !strip
	source = zen-kernel::git+https://github.com/zen-kernel/zen-kernel?signed#tag=v5.14.1-zen1
	source = config-5.14.1.zen1::https://github.com/archlinux/svntogit-packages/raw/733d9452e5b5a7ce9117a3e2f129cfb972f7befb/trunk/config
	source = https://github.com/dolohow/uksm/raw/master/v5.x/uksm-5.14.patch
	source = https://gitlab.com/asus-linux/fedora-kernel/-/raw/0535028482f23691bacd37f9a15e442bb190ada0/0001-asus-wmi-Add-panel-overdrive-functionality.patch
	source = https://gitlab.com/asus-linux/fedora-kernel/-/raw/0535028482f23691bacd37f9a15e442bb190ada0/0001-asus-wmi-Add-support-for-platform_profile.patch
	source = https://gitlab.com/asus-linux/fedora-kernel/-/raw/0535028482f23691bacd37f9a15e442bb190ada0/0001-asus-wmi-Add-support-for-custom-fan-curves.patch
	source = https://gitlab.com/asus-linux/fedora-kernel/-/raw/0535028482f23691bacd37f9a15e442bb190ada0/0002-asus-wmi-Add-dgpu-disable-method.patch
	source = https://gitlab.com/asus-linux/fedora-kernel/-/raw/0535028482f23691bacd37f9a15e442bb190ada0/0003-asus-wmi-Add-egpu-enable-method.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C5ADB4F3FEBBCE27A3E54D7D9AE4078033F8024D
	sha256sums = SKIP
	sha256sums = 2c17584cbf8a17c805223eb1f56882e9e7ec6b25c3ed49d07e968851f6e1a82b
	sha256sums = 0b4b31fd91628c3ac35aa18ae4a78900ba03474451a64d5ad17b1f8b00d095b7
	sha256sums = b398326e3177b65ff47c78a787e3a54794a83243db640a322f8f3edf51780582
	sha256sums = 4ef12029ea73ca924b6397e1de4911e84d9e77ddaccdab1ef579823d848524e8
	sha256sums = c4cae6f5a1a46142fd5b1b90c15fdb9b08c74615e3aae93a80ae22185544a238
	sha256sums = f11b31d5ffa04a846c2d8f13890f41e99941279b06b3ec3a169d82cb795502a9
	sha256sums = 859bfbfee7731c8dd3bded9247d44fd57d924e6f5f518bf8467772e8e44fa03b

pkgname = linux-zen-g14
	pkgdesc = The Linux ZEN with patches for Zephyrus G14 kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = VHBA-MODULE
	replaces = 

pkgname = linux-zen-g14-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN with patches for Zephyrus G14 kernel
	depends = pahole
